USE [master]
GO
/****** Object:  Database [ProjetoCidades]    Script Date: 12/01/2018 21:10:11 ******/
CREATE DATABASE [ProjetoCidades]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjetoCidades', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ProjetoCidades.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjetoCidades_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ProjetoCidades_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjetoCidades].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjetoCidades]
GO
USE [ProjetoCidades]
GO
/****** Object:  Table [dbo].[Cidades]    Script Date: 12/01/2018 21:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cidades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Estado] [char](2) NOT NULL,
	[Habitantes] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
